## HTTP ##

APP_SERVER_PORT=

## JAVA ##

JAVA_HOME=

## POSTGRES ##

APP_POSTGRES_HOST=
APP_POSTGRES_PORT=
APP_POSTGRES_USER=
APP_POSTGRES_PASS=
APP_POSTGRES_DB=

## SPRING ##

SPRING_PROFILES_ACTIVE=